@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --color-red: #ec1840;
  --color-red-2: #fa3c3c;
  --color-black-2: #222;
  --color-white: #fff;
  --color-black-1: #111;
  --speed-normal: 0.5s;
  --speed-fast: 0.8s;
  --card-width: 440px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(238, 104, 104);
}

.page {
  padding: 100px 300px;
}

.subtitle {
  margin-bottom: 40px;
}

.content-container {
  padding: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.card-container:first-child {
  margin-left: 0;
}

.card {
  margin-bottom: 30px;
}

.card-img {
  height: 550px;
  width: var(--card-width);
}

.button {
  position: relative;
  width: var(--card-width);
  height: 60px;
  line-height: 60px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  transition: var(--speed-normal);
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  border: 1px solid transparent;
  transition-delay: 0.8s;
  background-size: 180px;
  animation: animate var(--speed-fast) steps(8) forwards;
}

.primary-button {
  color: var(--color-black-1);
  border: 1px solid var(--color-red);
}

.primary-button:hover{
  background: var(--color-red) url(https://i.postimg.cc/wBXGXbWN/pixel.png);
  color: var(--color-white);
}

.secondary-button {
  margin-right: 30px;
  color: var(--color-black-1);
  border: 1px solid var(--color-red-2);
}

.secondary-button:hover {
  opacity: 0.8;
  background: var(--color-red-2) url(https://i.postimg.cc/wBXGXbWN/pixel.png);
  color: var(--color-white);
}

.button-group {
  display: flex;
  max-width: 500px;
}

.button-group button {
  flex: 1;
  width: auto;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  pointer-events: none;
}

.signing-section {
  display: flex;
  flex-direction: row;
}

.input-container {
  text-align: left;
}

.input {
  width: 200px;
  height: 30px;
  padding-left: 5px;
}

.input, .input-label {
  display: block;
}

.input-group {
  margin-bottom: 30px;
}

.form-errors {
  margin-bottom: 20px;
}

.textarea {
  resize: vertical;
  width: 500px;
  height: 150px;
}

.dynamically-added-text {
  position: absolute;
  left: 0;
  text-align: left;
  white-space: pre-wrap;
}

@keyframes animate {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -480px;
  }
}
